[2017-03-10 15:06] hypery2k opened #2 "Add Unit tests"

[2017-03-15 16:32] #2 closed

[2017-03-17 17:04] hypery2k opened #9 "urhandler should only be triggered once"

[2017-03-20 10:02] hypery2k opened #11 "E2E Tests"

[2017-03-21 08:28] c1ngular opened #12 "non-angular version of usage please ? [request]"
thank you !

[2017-03-21 09:55] #12 closed

[2017-03-21 10:00] hypery2k commented on #12
thanks for the hint. I've added the instructions

[2017-03-21 10:01] hypery2k commented on #11
Basic e2e build test added

[2017-03-21 13:19] #9 closed

[2017-03-21 18:52] scavezze opened #15 "Unexpect token import in tns_modules/nativescript-urlhandler/urlhandler.js"
[code]
I am very new to typescript but i think that with a target of es5 those import statements should be require statements.  I think

[2017-03-21 21:52] hypery2k commented on #15
do you have a specific error?
You can use ES5 with another module loader then commons, so in this case es2015 [module](https://github.com/hypery2k/nativescript-urlhandler/blob/master/tsconfig.json#L4)

[2017-03-22 04:28] hypery2k commented on #15
Version [0.4.0](https://github.com/hypery2k/nativescript-urlhandler/releases/tag/v0.4.0) is available

[2017-03-22 04:28] #15 closed

[2017-03-22 13:44] scavezze commented on #15
The error is that the nativescript app fails to start because it doesn't recognize import so i get a unexpected token error.  the issue is that if i make a brand new app and add your plugin i don't get this error so I am guessing maybe a different plugin or something is interfering.  I am new to typescript and nativescript so i will keep looking into it.

[2017-03-22 14:33] hypery2k commented on #15
okay, if this plugin is causing any issue feel free to open a new issue

[2017-03-22 16:19] scavezze commented on #15
after the change you made last night everything is working now for some reason getData() is null but that is probably my issue thanks

[2017-03-22 17:07] hypery2k commented on #15
you're welcome

[2017-03-23 22:40] scavezze opened #16 "Documentation is not enough the call back is never called."
I have followed the directions exactly. but the urlHandler never fires.  I am running into this issue

https://github.com/NativeScript/NativeScript/issues/3738

i have followed the directions above to cextend the native script activity but It precludes using your handler witch i really like because it helps pars the url and will work on ios.  I tried adding

[code]

instead of

[code]

This solves

[2017-03-24 06:43] roblav96 commented on #16
@scavezze you need to add `android:launchMode="singleTask"` to your activity in your `AndroidManifest.xml`. This will certainly resolve your issue. I've had to solve this exact problem before.

[2017-03-24 06:55] hypery2k commented on #16
@scavezze Did I need to add the JavaProxy decorator and the extend?
Will try to add it to my plugin if needed

[2017-03-24 14:49] scavezze commented on #16
@roblav96 it's already set to single task

[code]

[2017-03-24 15:57] scavezze commented on #16
@hypery2k I think your really close i have tried whats currently avail and the following line throws a exception

`application.android.init(this);`

I think don't think you need that and the

[code]
is called every time you receive a external link  so i think you just need to remove that line then change handleIntent to something like this

[code]

[2017-03-24 16:07] scavezze commented on #16
I modified my local version to what i recommenced above and it works but again it stops the ActionBar -> ActionItem event from working.  gonna try and figure that out .

[2017-03-24 16:16] scavezze commented on #16
ActionBar -> ActionItem event is not a issue with the linking.  I think it's something with when i am changing routes in the handler

[2017-03-24 16:18] hypery2k commented on #16
maybe you have to wrap it in a zone

[2017-03-24 16:31] scavezze commented on #16
@hypery2k

https://gist.github.com/scavezze/28d2e69aa39b69796769d729fc1ee638 with the 0.4.0 version of your plugin works also so i will leave it upto you if you want to change  to use  protected onNewIntent(intent: android.content.Intent): void { or jsut add it to your documentation.

I am new to Nativescript/Typescript so I will look into zones

[2017-03-24 18:58] scavezze commented on #16
@hypery2k , @roblav96
Thanks for your help i have it all working right now with the 0.4.0 version of your plugin

[2017-03-27 07:05] #16 closed

[2017-04-05 13:35] hypery2k opened #21 "Cannot read property 'toString' of null"
[code]

[2017-04-06 03:46] #21 closed

[2017-04-06 11:40] hypery2k opened #22 "Intent-Action not matching"
[code]

[code]

[2017-04-06 22:09] speigg opened #23 "applicationOpenURLSourceApplicationAnnotation is deprecated"
`applicationOpenURLSourceApplicationAnnotation` is deprecated, and doesn't get called when the app is launched from a url (only if the app is already running). `application:openURL:options:` gets called in both situations, and should be used instead.

[2017-04-07 01:27] speigg opened #24 "This plugin overrides any existing AppDelegate"
This plugin [overrides](https://github.com/hypery2k/nativescript-urlhandler/blob/fdf9bf7bf253c1bd3994c28014b0376e7edc2549/urlhandler.ios.ts#L18) any existing app delegate:
[code]

This seems like a bad idea..

[2017-04-07 02:56] hypery2k commented on #23
Thanks for the hint. Will change the implementation

[2017-04-07 02:56] hypery2k commented on #24
any idea what would be a good alternative?

[2017-04-07 02:57] #22 closed

[2017-04-07 03:22] speigg commented on #24
1) You could try the approach that the facebook plugin uses, and not mess with the delegate at all (see https://github.com/mobilemindtec/nativescript-facebook). This is probably the simplest solution...
2) Might be possible to subclass an existing delegate to extend it, though I am not sure how tricky it would be to avoid conflicts with other code / plugins that might also want to mess with the ap

[2017-04-07 05:10] hypery2k commented on #24
Thanks for the info. Will try to investigate on that and make a new release

[2017-04-07 20:46] speigg commented on #23
Another hint: I found that you have to implement `applicationWillFinishLaunchingWithOptions` as well in order for `applicationOpenURLOptions` to be called at launch. Specifically, `applicationWillFinishLaunchingWithOptions` has to return `true`. I'll submit a PR soon.

[2017-04-10 16:21] hypery2k commented on #23
any PR is welcome

[2017-04-11 04:12] speigg commented on #23
Fixed with #31

[2017-04-11 04:12] #23 closed

[2017-04-11 05:51] hypery2k commented on #24
so you mean just using the [activity result](https://github.com/mobilemindtec/nativescript-facebook/blob/master/facebook.android.js#L28)?

[2017-04-11 13:40] speigg commented on #24
Well, this issue was mainly for iOS, I don't know much about android, though it looks like they are preserving existing callback for the `activity result` by wrapping. But a similar strategy would probably work well for iOS, I think (basically the same thing I described as option 2 above). I wonder why the Facebook plugin doesn't already take that approach for iOS though.

[2017-04-12 07:25] c1ngular commented on #24
@speigg very good point

[2017-04-19 17:08] mcrvaz opened #32 "Empty URL parameters on Android"
Versions:
"tns-core-modules": "2.5.2",
"tns-android": "version": "3.0.0-rc.1"

When testing on emulator appURL.params is an empty map.
`adb shell am start -W -a android.intent.action.VIEW -d "myApp://mobile?recoveryToken=22\&recoveryEmail=email@email.com"`

This is my AndroidManifest.xml
[code]

I managed to get it working by changing `urlhandler.common.js` into this:
[code]

[2017-04-20 09:41] hypery2k commented on #32
thanks for reporting. Will investigate if I find time for this

[2017-04-29 11:38] hypery2k commented on #24
@speigg Could you submit a PR. I'm currently running out of time due to other projects

[2017-05-12 04:55] hypery2k opened #39 "NativeScript 3 Compatibility"

[2017-05-12 07:34] hypery2k commented on #39
A preview is available via `nativescript-urlhandler@1.0.0-develop-58`

[2017-05-13 15:11] hypery2k commented on #32
@mcrvaz could you try it with the lest @next version?

[2017-05-13 18:05] mcrvaz commented on #32
Hi @hypery2k, tested it with "nativescript-urlhandler": "^1.0.0-develop-58"
Still not working, seems to a be a problem with ```Map```, might be something on my end related to transpiling or something like that.
This issue also occurs on iOS.

[2017-05-22 15:24] hypery2k commented on #32
can you post your tsconfig?

[2017-05-22 15:30] #39 closed

[2017-05-22 16:48] mcrvaz commented on #32
Here it its
[code]

[2017-05-23 15:28] greenkeeper[bot] opened #45 "An in-range update of tns-core-modules is breaking the build 🚨"
## Version **3.0.1** of [tns-core-modules](https://www.npmjs.com/package/tns-core-modules) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hypery2k/nativescript-urlhandler/compare/greenkeeper%2Ftns-core-modules-3.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tns-core-modules

[2017-06-06 13:37] hypery2k commented on #32
try to add `"es2015",`before `"es2015.iterable"`

[2017-06-06 13:38] #32 closed

[2017-06-14 09:40] rezonjov opened #49 "Bundling using nativescript-dev-webpack fails"
Hey, the plugin will fail when bundled using webpack.

The fix is to set `"noEmitHelpers"` to `true` at the `tsconfig.json` as mentioned here [https://github.com/NativeScript/nativescript-dev-webpack/issues/70#issuecomment-279085077](link)

So far it's working fine for me.

in case you need my environment:

- node: 6.11
- nativescript version: 2.3.2
- nativescript-dev-webpack: 0.6.3

[2017-06-19 07:35] hypery2k commented on #49
ok, will put it to the docs.

Thanks for the hint

[2017-06-26 06:22] AndersGerner opened #51 "URLSchemas work, but the url is not passed to the function"
It doesn't seem that the function handleOpenUrl is ever fired.

I have tried in my main-page.js:

[code]

But nothing happens and no error is giving.

Is there a demo app for this project?

[2017-06-30 08:04] hypery2k commented on #51
you can take a look at the [end2end test app](https://github.com/hypery2k/nativescript-urlhandler/tree/master/test/e2e). Otherwise follow the [install](https://github.com/hypery2k/nativescript-urlhandler#android) instructions.

If it's not working please tell more about your concrete setup, see [here](https://github.com/hypery2k/nativescript-urlhandler/blob/master/CONTRIBUTING.md), as mentioned wh

[2017-06-30 12:34] AndersGerner commented on #51
Thanks for your input @hypery2k I have tried to use the pure javascript version. The app is opening on my schema: "becf", but the function and URL is not run/passed.

Would I be able to hire you to get my app to work?
Please contact me at agn@cphcloud.com as soon as possible. We need to deliver early next week. If you find any issues and create solutions, we'll of course share them in your plugin

[2017-07-03 18:14] hypery2k commented on #51
I think you didn't call the `handleOpenURL` soon enough. Try again with *nativescript-urlhandler@1.1.0-develop-67* and check if you see this error in the console:
[code]

[2017-07-04 06:48] hypery2k commented on #24
@speigg Any suggestions so far. Though about using [open](https://developer.apple.com/documentation/uikit/uiapplication/1648685-open) directly, but it's not working.

[2017-07-04 07:57] #51 closed

[2017-07-05 16:43] #49 closed

[2017-07-05 16:43] #45 closed

[2017-07-10 15:49] hypery2k commented on #11
adb shell am start -W -a android.intent.action.VIEW -d "myApp://mobile?recoveryToken=22\&recoveryEmail=email@email.com"

[2017-07-17 20:28] mcrvaz opened #58 "Intent data is null when resuming app"
Platform: Android

As explained is this [comment](https://github.com/NativeScript/NativeScript/issues/3738#issuecomment-284641303), when the application is already opened and the user attempts to reopen it with the deep link, the intent data is not updated.

[2017-08-24 12:07] hypery2k commented on #58
could you please retry with version 1.2.0?

[2017-08-31 15:55] Burgov opened #69 "callback only called when app wasn't running"
I have the following intent-filter:

[code]

and a `handleOpenURL(...)` call in the AppModule constructor. It works wonderfully, but only the first time a link is clicked, triggering the app to load up. If the app was already running when the link is clicked, it's brought to foreground, but the callback for handleOpenURL isn't called.

Am I missing something or is this a bug?

[2017-08-31 16:23] hypery2k commented on #69
if it's the same url it would ignore a second call, that was by intention. So can you try to open another link when app is already open and check if this works?

[2017-08-31 18:50] b-hobbs opened #70 "Angular: No callback provided"
Following the setup guide, setting up the handler in the application component seemed to be too late, receiving: No callback provided. Please ensure that you called "handleOpenURL" during application init!

I tried to look at the angular-demo but couldn't find any mention of handleOpenUrl. Is that just an unfinished place holder at the moment or was there something I missed?

Adding the handler in

[2017-08-31 19:06] b-hobbs commented on #70
Moving it from the constructor to an ngOnInit of the application component also works as expected.

[2017-08-31 19:33] hypery2k commented on #70
thanks for the hint, I'll add it to readme and sample angular app

[2017-08-31 19:36] #70 closed

[2017-09-04 18:37] Burgov commented on #69
@hypery2k I saw in the code that it's indeed ignoring the url if it's the same as the last one, but why is that? Shouldn't that be sth for the handler to decided?

However, that doesn't seem to be the problem. My function never gets called if the app is running in BG, only when i completely close it. I tried it with 2 different links. Just brings the app to FG and that's it. Anything I can do to d

[2017-09-06 11:35] maxfriedmann commented on #69
I debugged a bit, the intent during onResume is the wrong one, tried with all launchModes, see https://stackoverflow.com/a/6357330/1227985

I went for the solution with my own Activity/Delegate as described in https://github.com/ddfreiling/tns-ng-deeplink

[2017-09-13 14:05] jdolderer commented on #69
I run into the same issue as @Burgov. Is there any solution how to fix this behavior?
On iOS the callback is working just fine, it happens only on Android.

[2017-09-13 14:38] hypery2k commented on #69
Currently don't have to time to watch on this. Any PR is welcome

[2017-10-13 15:02] marksutt commented on #49
The fix has to be applied to `tsconfig.json` of this plugin "nativescript-urlhandler
", not to the one in the app project.
See: https://docs.nativescript.org/best-practices/bundling-with-webpack#emitting-helper-functions-in-typescript-plugins

@hypery2k
Thx for this plugin.
Can you release a new version of the plugin with the flag `"noEmitHelpers": true` set in `tsconfig.json` ?

[2017-10-18 08:39] marksutt commented on #49
Thx for the quick fix.
When have you planned to release a new version containing this fix?

[2017-10-18 08:51] hypery2k commented on #49
Not yet, having issues with my ci build

[2017-11-01 13:04] uelipeter commented on #58
@hypery2k Why was this closed? I have the same issue on 1.2.0.

[2017-11-01 13:11] hypery2k commented on #58
Thought it was solved. You can re-open it, but I don’t have time for this. Any PR is welcome

[2017-11-02 02:07] indianazhao opened #71 "I always get blank component page when I call router.navigateByUrl() in handleOpenURL()?"
* [v] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/hypery2k/nativescript-urlhandler/master/CONTRIBUTING.md).

## What did you do?

I try to call router.navigateByUrl('targetComponent') in handleOpenURL(), but I always got a blank component page without console log.

## What did you expect to happen?

I can get the appURL in handleOpenURL() and

[2017-11-05 00:54] indianazhao commented on #71
It seems to be the iOS delegate conflict issue (with the plugin 'nativescript-facebook'). I'm not familiar with iOS development. Is it possible to have multiple iOS delegate in the same app?

[2017-11-05 11:27] hypery2k commented on #71
mmh not it's no allowed, but I currently don't have a solution for this issue

[2017-11-07 03:16] indianazhao commented on #71
I'm still very thank you for this plugin even now I only use it for android platform.

[2017-11-17 07:20] hypery2k commented on #49
you can give `nativescript-urlhandler@1.2.1-develop-91` a try

[2017-12-04 19:17] hypery2k commented on #71
could you give Version 1.2.2 a try?

[2018-01-17 05:57] indianazhao commented on #71
I've tried 1.2.2 but I still get the blank page with only header info.
The following codes show how I handle the deep link url:

[code]

I can parse the appURL and navigate to target component. But the content is blank:
![image](https://user-images.githubusercontent.com/4360033/35027239-95c6a64c-fb8a-11e7-8ca1-625f659044b9.png)

The content can be rendered again after I click the top-right refresh

[2018-01-17 06:58] hypery2k commented on #71
seems to be like an angular issue as the data is correct handled. Maybe you have to wrap it in in a zone:
[code]

[2018-01-17 08:49] indianazhao commented on #71
Wow! It solve the problem. I will do some study on zone. Thank you very much!

[2018-01-17 09:07] hypery2k commented on #71
glad to help.

[2018-01-17 09:07] #71 closed

[2018-02-21 14:43] one-adam-nolan commented on #58
I am having this same issue when using the [advanced-webview](https://github.com/bradmartin/nativescript-advanced-webview) library.  It redirects back to the app wonderfully, but the url (the part i need to parse) is not there.  Have you had a chance to look into it? I will take a look and see if I can contribute in anyway.

Thanks!

[2018-02-21 16:06] one-adam-nolan commented on #58
**Update:**
I deleted my node_modules folder then did a clean build and everything seemed to work.  I am wondering if this has something to do with the deployed code not updating the manifest properly- or something like that....

[2018-02-28 10:13] hettiger commented on #24
@speigg @hypery2k

I have tried to fix this. You can check out my fork: https://github.com/hettiger/nativescript-urlhandler/blob/24-plugin-overrides-existing-ios-appdelegate/src/urlhandler.ios.ts

Unfortunately this doesn't seem to work for some reason. Any ideas?

The reason for my attempt was this line:
https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/78f60f55be30b022690722006

[2018-04-27 11:02] tucazinul opened #74 "Callback handling issue on iOS"
## What did you do?

I've installed the plugin to handle the URL sent from a Share Extension to my main app. I've placed the handleUrl() function in the app.component.ts inside ngOnInit() so I can use other Angular components for the callback.

## What did you expect to happen?

 I was expecting that when receiving the URL from the share extension, the callback function will be called.

## What ha

[2018-05-19 05:16] ickata commented on #24
Hey @hypery2k , will you please let us know when the next release will be available in npm?

[2018-05-19 06:05] ickata commented on #24
@hypery2k ,

I just tested with a local build this fix. `handleOpenURL` is not invoked. iPhone 6 (iOS 11.3)

[2018-05-19 08:38] hypery2k commented on #24
not sure if i find time for a new version

[2018-08-05 09:55] #74 closed

[2018-08-17 22:52] robregonm opened #76 "Get URI parts"
It would be nice to have access to URI parts, like this: https://github.com/ZixiaoWang/tns-urihandler/blob/master/urihandler.android.ts

[2018-09-17 14:56] pboulch opened #77 "Callback never called on iOS"
Hi ! I tried to use this plugin for my deep links. On ANdroid no problem, it's work. But on iOS the callback is never called. I followed the instructions : change Info.plist, call handleOpenURL into the app.component.ts (into ngOnInit).

Did I miss something ?

[2018-09-17 15:35] hypery2k opened #78 "Access query parameters in iOS universal links in NativeScript"
Add by @one-adam-nolan in this [PR](https://github.com/hypery2k/nativescript-urlhandler/pull/75). More details [here](https://discourse.nativescript.org/t/how-to-re-build-existing-plugin/7370).

Related to #24.

[2018-09-17 16:09] hypery2k commented on #77
would be great if you tell more about your setup, version info and other plugins used etc.

[2018-09-17 16:28] hypery2k commented on #76
any PR is welcome

[2018-09-17 16:29] #58 closed

[2018-09-18 09:27] pboulch commented on #77
Ok, I found the problem. I use the WonderPush plugin, and, with iOS, it override the delegate.

[2018-09-18 09:47] hypery2k commented on #77
ok, so it's a duplicate of #24

[2018-09-18 09:47] #77 closed

[2018-09-24 06:16] MustafaCa opened #79 "App URL doesn't work on Android"
Hi Martin,

First of all, thank you for sharing this plug-in. I have implemented it successfully in IOS. However, I couldn't make it work on Android. Then, I tried your demo app and got the same result. It only works on IOS.

Thanks in advance for your support.

OS --> Mac

**NativeScript version:**
4.2.4

**Java version:**
1.8.0_181-b13

**NodeJS and NPM version:**
10.10 / 6.4.1

**Platform(s) ru

[2018-10-19 15:58] Mitko-Kerezov commented on #24
@muratcorlu I've been testing around this plugin for a while now and I think I know where your issue may reside.

Firebase [directly overrides](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/6d81955a01fcab057e54a51a56cd60583df34373/src/firebase.ios.ts#L48) the methods it requires of the app delegate, whereas  this plugin (from the develop branch) [chains the methods](https://g

[2018-10-23 09:15] rohitchindarkar opened #80 "nativescript-Urlhandler not working in iOS."
not able to call below function in iOS  ,but its working fine in android.
handleOpenURL((appURL: AppURL) => {
      console.log( appURL);
}
can anyone help please...

[2018-11-21 10:49] karo-dc opened #82 "not working properly when app is closed"
when app is active deep handler works well, but when it's closed (terminated) it does not redirect to intended page, it only opens the app.

[2019-01-02 23:40] philipmclifton opened #83 "apple-app-site-association / applinks"
Does this plugin work with applinks (apple-app-site-association).

I have my app loading with myapp:// and your plugin works perfectly.

I'm really struggling to find anything on the internet as to how to find out what deep link opened the app.

Hopefully I'm not wasting your time with this questions and you might know of something.

[2019-03-01 15:32] sbacon94 commented on #82
Hi there.

We are having the same problem. The callback is called when the app is already running in the background but is never called on launch.

[2019-03-02 09:16] hypery2k commented on #82
does this happen on Android or iOS?

[2019-03-02 09:18] #24 closed

[2019-03-02 09:18] #78 closed

[2019-03-02 09:21] #76 closed

[2019-03-02 12:07] hypery2k commented on #82
fixed in 1.2.3

[2019-03-02 12:07] #82 closed

[2019-03-02 12:07] hypery2k commented on #69
fixed in 1.2.3

[2019-03-02 12:07] #69 closed

[2019-03-02 12:07] hypery2k commented on #80
fixed in 1.2.3

[2019-03-02 12:07] #80 closed

[2019-03-02 12:07] hypery2k commented on #79
fixed in 1.2.3

[2019-03-02 12:07] #79 closed

[2019-03-18 19:39] shiv19 opened #84 "Can this console log be removed please"
https://github.com/hypery2k/nativescript-urlhandler/blob/93bb71669cd1e7660905fa307e9f36d1d908fb25/src/urlhandler.android.ts#L9

[2019-03-18 19:50] #84 closed

[2019-03-18 19:51] shiv19 commented on #84
Thanks! 😃

[2019-03-24 13:13] ryanlangton commented on #80
I have 1.2.3 installed and I have the same issue, nothing is happening on handleOpenURL in iOS, works fine in android.

`
import { Component, OnInit } from "@angular/core";
import { handleOpenURL, AppURL } from 'nativescript-urlhandler';
import { AuthService } from "./core/services/auth-service";

@Component({
    moduleId: module.id,
    selector: "ns-app",
    templateUrl: "app.component.html"
}

[2019-05-10 14:18] mayureshjadhav opened #85 "Is it supporting bitcoin:XXX url scheme?"
I wanted to know, is it supporting bitcoint:XXX url scheme?

[2019-05-17 13:51] jdnichollsc commented on #24
Excuse me mates, why this issue was closed?

[2019-05-28 12:13] BigWillie opened #86 "Unable to open URL"
Edit - not an issue... issue was me... I needed to add config to app/App_Resources/iOS... I was adding to the generated plist... sorry

[2019-05-28 17:47] #86 closed

[2019-05-31 06:17] matthew-arosoftware commented on #83
I am finding that I can get this to work by making the following change to the `urlHandler.ios.ts`

[code]

I am not sure if this is going to cause any clashes at this stage.  Still testing.

[2019-05-31 10:56] hypery2k commented on #83
thanks for the hint.

you can give `nativescript-urlhandler@1.2.3-develop-124` a try

[2019-06-01 08:08] tr1et commented on #83
Hi @hypery2k ,
I have tried the new development version but it doesn't work for the universal link (app link). It works for deep link (both Android and iOS) though.

[2019-06-01 10:27] hypery2k commented on #83
okay, but is this the same behavior as before or fixes issues already?

Will look for the app link issue

[2019-06-01 15:30] tr1et commented on #83
It is the same issue as before (1.2.3), only iOS universal link doesn't work.

[2019-06-19 00:10] shiv19 opened #87 "New patch release?"
@hypery2k
Will you be releasing a new patch version with the changes made recently?

[2019-06-19 04:36] hypery2k commented on #87
you can give `nativescript-urlhandler@1.2.3-develop-126` a try

[2019-06-19 06:15] meysam-mahmoodi opened #88 "The plugin doesn't work on iOS"
Hello

## What did you do?

I installed the plugin successfully then created my own URL Scheme. When I type my own URL Scheme in a browser, it goes to the app correctly but `handleOpenURL` method is not called and I can't get anything.

## What did you expect to happen?

I expected, `handleOpenURL` ran and I can get the App URL in App Component.

## What happened instead?

The method,`handleOpenUR

[2019-06-19 06:40] hypery2k commented on #88
which version of the plugin you'r using?

[2019-06-19 15:37] hypery2k commented on #88
can you try version 1.3.0?

[2019-06-19 15:37] hypery2k commented on #87
release version 1.3.0

[2019-06-19 15:37] #87 closed

[2019-06-22 07:35] meysam-mahmoodi commented on #88
Thank you for your answer.
I tried that with version 1.3.0. It doesn't work. After a few hours, I still could not understand what the problem is.

[2019-06-30 22:09] DanielePetraliaDev opened #89 "Callback sometimes not called"
CLOSED because the problem was not related to this plugin.

## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

[2019-07-03 15:41] #89 closed, assigned to nobody

[2019-07-10 11:27] panagulis72 opened #90 "Empty params"
I'm catching the following link: https://myapp.it/test/redirectPage.html?itemType='xxx' with the following code:
`
           handleOpenURL((appURL: AppURL) => {
                  console.log(JSON.stringify(appURL.params['itemType']));
           });`

but params is an empty object, and appURL.path doesn't contain the params (it is: myapp.it/test/redirectPage.html)

This is AndroidManifest configu

[2019-07-10 13:33] panagulis72 commented on #90
Solution found. It is a map, so I have to use the following method:
`appURL.params.get('itemType')
`

[2019-07-10 13:33] #90 closed, assigned to nobody

[2019-07-12 12:27] hypery2k commented on #24
because the plugin itself not longer overwrites the delegate:

https://github.com/hypery2k/nativescript-urlhandler/blob/1111fb85f62e09654e50c31eac7f17f966674600/src/urlhandler.ios.ts#L9-L12

[2019-07-12 14:53] blaur commented on #88
@hypery2k I'm having the same problem on most recent version of Nativescript.

[2019-07-12 15:08] jdnichollsc commented on #24
Ohh Interesting, do you know if is possible to do that using ES6? also, if we can create a PR from the {N} Core repo to avoid overwriting the app delegate 🤔

[2019-07-13 16:29] blaur commented on #88
Don't know if this helps you but my package.json looks like this. All working on android but on iOS it just does not do anything:
[code]

[2019-07-17 11:02] aljamzd commented on #83
I have the same issue on android so app link not working and the disambiguation dialog still showing.

[code]

[2019-07-24 10:30] baz10 commented on #88
I followed the docs and did all the steps for Android. I may have missed something, it doesn't really work for me.
Added the below snippet to AndroidManifest
`    <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" /

[2019-07-24 18:24] pkokorev opened #91 "handleOpenURL is called each time that the application is resumed"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

Function handleOpenURL is called each time that the applicat

[2019-08-02 15:46] RickyLarsen commented on #88
I'm getting the same behavior. I'm not even seeing the "No callback provided. Please ensure that you called "handleOpenURL" during application init!" error message.

[2019-08-28 13:28] kennethkeim commented on #91
I have the same issue, the latest deeplink is used when I'm returning to my app after selecting photos with the image-picker plugin.

[2019-08-29 14:36] kennethkeim commented on #91
I just discovered the deeplink is used anytime the app resumes from the app switcher.

[2019-09-09 03:20] hypery2k commented on #91
does this happens on iOS and Android or only within Android?

[2019-09-10 00:54] kennethkeim commented on #91
@hypery2k It's only happening on Android for me.

[2019-09-12 17:51] jalbatross opened #92 "Android NS 5.4 does not work with android:host="__PACKAGE__" in Manifest"
Using version 1.3.0 of nativescript-urlhandler

Just a PSA, for whatever reason the plugin did not seem to work with Android when `android:host="__PACKAGE__"`  was included in the AndroidManifest along with the scheme. Removing that particular piece fixes the issue.

Copy of the working element

[code]

[2019-09-22 19:34] dlcole commented on #91
I'm seeing something similar.  After receiving a deep link, any time I open a modal dialog the last deep link received is re-opened.  This is occurring on Android in a plain Javascript app.

Edit: to invoke the behavior, all I need to do is tap the Overview button and select my app.  Boom, the UrlHandler code is invoked again :-(

Edit: and, this is only happening on Android

[2019-09-23 19:34] NL33 commented on #88
Any update on this? I am trying to use the plugin to register universal links on iOS, and, after putting in the code from the docs, nothing happens.

[2019-09-23 19:37] hypery2k commented on #88
sorry to say but have to quit the plugin as I don't have time to support it.

[2019-09-23 19:46] NL33 commented on #88
Wow. Is there an older plugin version that works with iOS for universal links? There is a stack overflow question [here](https://stackoverflow.com/questions/51681898/access-query-parameters-in-ios-universal-links-in-nativescript) that implies someone was able to use it for universal links a year ago.

[2019-09-24 20:20] NL33 commented on #88
If you are looking to handle universal links, see the code in this [stack overflow answer](https://stackoverflow.com/questions/58062553/parse-ios-universal-links-with-nativescript-angular). This code does not require this plugin.

[2019-09-27 12:40] Lehren opened #93 "Up to date documentation for NS cli 6 and web URLs"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/hypery2k/galenframework-cli/master/CONTRIBUTING.md).

## Changes

There is no documentation on how to setup app links for web urls. If I have a website and an app I would like to use this package

[2019-10-10 12:18] Mixelated commented on #93
+1

[2019-10-15 01:43] patrickl000000 opened #94 "Running the Url handler with nativescript-facebook in IOS"
I am try running the URL handler with nativescript-facebook.
(https://github.com/NativeScript/nativescript-facebook)

[handleOpenURL((appURL: AppURL) => {
            console.log('Got the following appURL', appURL);
 });  will be not function.]

When I try remove "let nsFacebook = require('nativescript-facebook');" from the code. The URL Handler is working.

Please help checking

Thank!

[2019-11-13 17:36] sylann commented on #92
@jalbatross Hello,

I think `__PACKAGE__` is a placeholder. It would be better if someone changed it to a realistic value in the `readme.md`.
It makes sense that it works without it because, declared intents in the manifest seem to mostly specify what is expected and not define any requirement. In fact whenever something is required, it will make the build fail if it's missing (from my very limite

[2019-12-10 22:12] farfromrefug commented on #88
@hypery2k please can you pass the ownership of the plug-in? Especially the npm package. Thanks

[2019-12-11 02:31] hypery2k commented on #88
and to whom I should handover it?

[2019-12-11 07:15] farfromrefug commented on #88
Me I will maintain it add contributors if they want

[2019-12-20 08:13] daweedm commented on #94
+1

[2019-12-20 08:25] daweedm commented on #88
Hello everyone, does anyone has a quick fix for this issue ?

[2020-01-02 20:05] daweedm commented on #88
For anyone that would be still stuck with this : the plugin is working, even with iOS 13. The problem is related to plugins conflicts. In my case, for instance, it was related to nativescript-plugin-firebase, which overrides the "UIApplicationDelegate" to insert its own callback. Both nativescript-plugin-firebase and this plugins uses the same approach to catch the "open app from url" event. The p

[2020-01-02 20:08] daweedm commented on #94
see https://github.com/hypery2k/nativescript-urlhandler/issues/88#issuecomment-570327185

[2020-02-13 23:40] keithgulbro opened #98 "Relative Path Interpretation Issues"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Currently there is no opportunity to interpret the relative

[2020-02-28 14:27] toby-wollit commented on #91
Facing the same issue - handleOpenUrl is called every time the app resumes.

[2020-02-28 14:28] bytesoverflow commented on #91
Facing the same issue on Android - handleOpenUrl is called every time the app resumes.

[2020-03-16 10:30] sebestindragos commented on #83
For anyone still struggling with this, I've made a new NS plugin specifically for universal links.
https://www.npmjs.com/package/nativescript-plugin-universal-links

If you still need to support deep linking, you will need to use both.

[2020-03-23 23:23] ronalson commented on #83
Hi @sebestindragos .

Do you happen to have a demo project on how to use your package? I'm trying to use it, but I'm kind stuck.

[2020-03-24 11:16] sebestindragos commented on #83
@ronalson the package is fairly easy to use, the instructions are in the Readme. Open a new issue in the repo and I'll help you set it up.

[2020-03-24 17:02] arminghm commented on #91
Add `android:launchMode="singleTask"` to the activity in AndroidManifest.xml.

[2020-04-09 12:35] netodomenico commented on #91
Same issue here (Nativescript-Vue, Android). Method `handleOpenUrl` is called every time the app is resumed, with `android:launchMode="singleTask"` as well. Do you have any ideas?

[2020-04-12 23:35] dimitriospafos commented on #92
@jalbatross did you ever solve this? I'm having the same issue. Using NS 6.1. It works on IOS. I tried leaving the default __PACKAGE__ as well as changing it to a custom string as @SylannBin  suggested but did not work still

[2020-04-14 20:06] keithgulbro commented on #88
Any update on this? @daweedm makes a solid point. Many Nativescript plugins overwrite the iOS app delegate instead of allowing those methods to be called once the plugin is imported.

If the methods could be called inside of a iOS app delegate created by the app's developer, this functionality wouldn't conflict with other plugins.

[2020-04-29 12:08] tobiasklemp commented on #88
Maybe the function handleOpenURL should hand through all of the parameters it gets from the delegate on ios. Then it would be possible to use this plugin whenever a custom app delegate is needed and even could be a peer dependency for plugins that require custom delegates.

[2020-06-26 17:06] rrr3da commented on #92
@jalbatross i'm having the same issue here. The plugin works well in iOS, but for Chrome nothing happens if we try to open the same link from a browser

[2020-06-28 15:52] dimitriospafos commented on #92
@rrr3da checkout this plugin https://github.com/sebestindragos/nativescript-plugin-universal-links plugin. I had to convert my code to use universal-links instead of deep-links (which needs some extra setup especially for ios) but in the end it worth it. Make sure to check this issue if you are planning to give it a try: https://github.com/sebestindragos/nativescript-plugin-universal-links/issues/

[2020-06-29 12:15] rrr3da commented on #92
@dimitriospafos thank you for your hint, the plugin you suggested works for Android, but I can't get it work on iOS 🔒
Glad if you can help me with this [issue](https://github.com/sebestindragos/nativescript-plugin-universal-links/issues/4)

[2020-06-30 01:15] dimitriospafos commented on #92
@rrr3da seems like you resolved the issue! cheers

[2020-07-02 10:57] luiguild commented on #91
I confirm same behavior here, in Android even putting `android:launchMode="singleTask"` the `handleOpenURL` is called every time with the last url

[2020-07-28 00:52] asharghi commented on #88
Any solution to this?

[2020-07-28 05:23] farfromrefug commented on #88
Yes i wrote a new component for that . not in front of my computer but it should be nativescript-appurl

[2020-07-28 09:35] asharghi commented on #88
Nice. Want to create a PR to this repo?

[2020-07-28 09:41] farfromrefug commented on #88
@asharghi i wont. This plugin is not maintained anymore. I decided to go and maintain my own.
You decide which one you want to use!

[2020-08-13 11:28] mikykonst commented on #88
@farfromrefug your plugin is not working with IOS too. Its working on debug but on release callback not working. Any solutions?

[2020-08-13 13:03] farfromrefug commented on #88
@mikykonst no idea wreally. Works perfectly here in production. Must be related to your itunesconnect configs.

[2020-08-13 13:07] mikykonst commented on #88
@farfromrefug May it me an issue with nativescript version?

`{
  "name": "MyApp",
  "license": "SEE LICENSE",
  "version": "0.0.0",
  "nativescript": {
    "id": "com.MyApp",
    "tns-android": {
      "version": "6.1.0"
    },
    "tns-ios": {
      "version": "6.1.0"
    }
  },
  "dependencies": {
    "@angular/animations": "~8.0.1",
    "@angular/common": "~8.0.1",
    "@angular/compiler": "~8

[2020-08-13 15:10] farfromrefug commented on #88
@mikykonst i dont think so. I really thing it is an issue with your itunes config

[2020-08-25 19:34] jubinj commented on #91
I am also facing the same issue. Any solutions to this?

[2020-08-26 12:53] dlcole commented on #91
I hit this same problem again yesterday, and it introduces a timing problem that's difficult to bypass.  I hope to investigate later today and will submit a PR if I can develop a fix.

[2020-08-26 14:51] dlcole commented on #91
Here's what I've found:

The plugin handles activityStartedEvent but never clears the intent, so any time an activity starts this code is triggered and the intent processed (or re-processed).

This appears to be a common problem on Android (see [this SO post](https://stackoverflow.com/questions/4116110/clearing-intent)) and can be remedied by clearing the intent.  I modified line 14 in urlhandler.

[2020-09-01 11:46] #91 closed, assigned to nobody

[2020-10-29 14:13] fpaaske commented on #91
Hi! I just ran into this issue. Are there any plans to make this available as a release soon?

[2021-02-12 10:25] itsmerockingagain opened #119 "Android, Not redirecting to app after login in mobile browser(MIC Login)"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- I am running the  version  "nativescript-urlhandler": "^1.3.0",

## Current Behavior

I have done all the configurations given for android:

 added 	android:launchMode="singleTask" to main activity
added intent filter
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<c

[2021-05-11 23:06] mohammadrafigh commented on #88
Just as a side note, my own problem was that I didn't set LSApplicationQueriesSchemes in info.plist of the source app (the app I'm trying to link from). It seems this key is required from iOS 9. After setting this key the forked version of @farfromrefug worked well. LSApplicationQueriesSchemes should be an Array with an item being your custom schema.

Reference: https://developer.apple.com/documen

[2022-09-06 10:32] dcolley opened #155 "Plugin fails to load for Vue project"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Following the instructions but plugin fails to load and repo

[2022-09-23 12:48] hypery2k commented on #155
With NS7+ the import scheme has changed. Actually I don't have much time for maintaining this plugin. I will give it a try, but only a small time box.

Sorry for that, but my free time for open source project is very limited, as I'm not getting money for that ...